---
//import astroLogo from '../assets/astro.svg';
//import background from '../assets/background.svg';
---

<div id="container">
  <main>
    <h1>welcome to my website</h1>
    <p>glad to see you here</p>
  </main>
</div>

<style>
  #container {
    font-family: system-ui, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 3rem; /* 48px */
    font-weight: 700;
    line-height: 1;
    color: #1e293b; /* slate-800 */
  }

  p {
    font-size: 1.25rem; /* 20px */
    color: #64748b; /* slate-500 */
    margin-top: 1rem;
  }
</style>
